@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: aliceblue;
}

nav {
  background-color: rgb(25, 0, 247);
  color: rgb(255, 255, 255);
  padding: 12px 3px;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  margin: 0 23px; /* agr maine ye nav ka justify-content space between kiya toh main ye margin apply karunga yaha pe bhi or .name wale me bhi */
}

ul li {
  list-style: none;
  margin: 15px;
  /* font-size: px; */
  padding-left: 15px;
  cursor: pointer;
}

ul > li:hover {
  color: yellow;
}

table,
td,
tr {
  border: 2px solid aqua;
  border-collapse: collapse;
  padding: 5px 13px;
  text-align: center;
}
th,
td {
  color: royalblue;
}

/* td,
th {
    padding: 15px 15px 15px 15px;
    text-align: center;
} */

.name {
  /*  margin: 15px;
    font-size: medium; */
  font-weight: 900;
  font-size: 21px;
  margin: 11px 23px;
  cursor: pointer;
}

.GGT {
  color: rgb(255, 51, 0);
}

.container {
  max-width: 80vw;
  margin: 23px auto;
}

h1,
h2,
h3 {
  margin: 23px 0;
  color: royalblue;
}

.btn {
  padding: 8px 17px;
  background: black;
  /* color: white; */
  color: royalblue;
  font-weight: 900;
  border: 2px solid aqua;
  border-radius: 15px;
  margin: 20px 0;
  cursor: pointer;
}

.btnsm {
  padding: 8px 17px;
  background: black;
  color: white;
  font-weight: 900;
  border: 2px solid aqua;
  border-radius: 15px;
  cursor: pointer;
}

img {
  cursor: pointer;
  position: relative;
  bottom: 8px;
  width: 16px;
  height: 16px;
}

label {
  color: royalblue;
}

.alert {
  display: none;
}

#password {
  border: 2px solid aqua;
  background-color: black;
  color: white;
  font-weight: 900;
  border-radius: 15px;
  padding: 6px 0px;
}

#username {
  border: 2px solid aqua;
  background-color: black;
  color: white;
  font-weight: 900;
  border-radius: 15px;
  padding: 6px 0px;
}

#website {
  border: 2px solid aqua;
  background-color: black;
  color: white;
  font-weight: 900;
  border-radius: 15px;
  padding: 6px 0px;
}

.tb {
  overflow-x: auto;
}

.menu {
  display: none;
  position: absolute;
  right: 5%;
  top: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  nav {
    flex-direction: column;
    height: 200px;
  }

  ul {
    flex-direction: column;
    text-align: center;
  }

  .container {
    max-width: 95vw;
    margin: 23px auto;
    display: block;
  } 

  /*.btnsm {
    padding: 8px 17px;
    background: black;
    color: white;
    /*font-size: 13px;*/
    /*font-weight: 900;
    border: 2px solid aqua;
    border-radius: 15px;
    cursor: pointer;
  }*/

  .menu {
    margin-top: 0.25rem;
    display: block;
  }

  .h-nav-resp {
    height: 45px;
}


.v-class-resp {
  opacity: 0;
}

.name {
  /*  margin: 15px;
    font-size: medium; */
  font-weight: 900;
  font-size: 18px;
  margin: 10px 23px;
  cursor: pointer;
}

td {
  word-wrap: break-word;
}

#password {
  border: 2px solid aqua;
  background-color: black;
  color: white;
  font-weight: 900;
  border-radius: 15px;
  padding: 6px 0px;
  width: 220px;
}

#username {
  border: 2px solid aqua;
  background-color: black;
  color: white;
  font-weight: 900;
  border-radius: 15px;
  padding: 6px 0px;
  width: 220px;
}

#website {
  border: 2px solid aqua;
  background-color: black;
  color: white;
  font-weight: 900;
  border-radius: 15px;
  padding: 6px 0px;
  width: 220px;
}

}


@media only screen and (max-width: 1074px) {

table, tr, td {
 
 /* max-width: 88px;*/
  border: 2px solid aqua;
  border-collapse: collapse;
  border-spacing: 50;
  width: 100%;
  /*padding: 20px 1px;*/
  /*text-align: center;*/
 /* height: 15px;
  width: 100px;*/
  /*overflow-x: hidden;*/
}

td, th {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
}

.tb {
  overflow-x: auto;
  background-color: black;
}

}



@media only screen and (max-width: 335px) {
  
  #password {
    border: 2px solid aqua;
    background-color: black;
    color: white;
    font-weight: 900;
    border-radius: 15px;
    padding: 6px 0px;
    width: 220px;
  }
  
  #username {
    border: 2px solid aqua;
    background-color: black;
    color: white;
    font-weight: 900;
    border-radius: 15px;
    padding: 6px 0px;
    width: 220px;
  }
  
  #website {
    border: 2px solid aqua;
    background-color: black;
    color: white;
    font-weight: 900;
    border-radius: 15px;
    padding: 6px 0px;
    width: 220px;
  }
  }